<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Usuarios">
                        <span class="iconify" data-icon="carbon:user-multiple" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usuarios <!--Ojo-->
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Usuario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Repartidores">
                        <i class="fas fa-motorcycle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Repartidores
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Usuario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="NuevoEnvio">
                        <iconify-icon icon="cryptocurrency:wings"></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Envios
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
